[alias]
	s = status
	a = add
	c = commit
	l = "!git log --graph"
	ch = checkout
	d = "!git diff"
	dlc = "!git diff @~1 @"

[user]
	email = barna.bruder@aldi-sued.com
	name = Barna Bruder

[core]
	excludesfile = ~/.config/git/ignore
[push]
	autoSetupRemote = true
