let mapleader = ","
let maplocalleader = ","

nnoremap <leader>si :source ~/.ideavimrc<CR>

set number
set ignorecase
set smartcase
set incsearch
set hlsearch
set scrolloff=10
set nowrap
set clipboard+=unnamed
set showmode

" plugins
set surround
set commentary
set ideajoin
set NERDTree

" -- basic keymaps --
nnoremap <Esc> :nohlsearch<CR>

" window navigation (C-hjkl)
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

" keep selection after indent
vnoremap > >gv
vnoremap < <gv

" centered search jumps
nnoremap n nzz
nnoremap N Nzz

" paste in visual mode without yanking the replaced text
xnoremap p P

" idea maps
nnoremap gd :action GotoDeclaration<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gt :action GotoTypeDeclaration<CR>
nnoremap K :action ShowHoverInfo<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>e :action ShowErrorDescription<CR>
nnoremap <leader>q :action ActivateProblemsViewToolWindow<CR>
nnoremap <leader>s :action Television.Channel.Text<CR>
vnoremap <leader>s :action Television.Channel.Text<CR>
nnoremap <leader>j :action Television.Channel.Text<CR>
vnoremap <leader>j :action Television.Channel.Text<CR>
nnoremap <leader>f :action Television.Channel.Files<CR>
nnoremap <leader>a :action Switcher<CR>
nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <leader>m :NERDTreeFind<CR>

command! Q :q
command! Qa :qall
command! QA :qall
command! Qall :qall
command! QAll :qall
command! W :w
command! Wa :wa
command! Wq :wq
command! WQa :wqa
command! WQA :wqa
